LifeExpectancy_with_python_FLOW.json
[{"id":"f4a3a179.a47e88","type":"tab","label":"LifeExpectancyFlow","disabled":false,"info":""},{"id":"c2674e97.697568","type":"ui_form","z":"f4a3a179.a47e88","name":"","label":"Life","group":"1f5424e5.5cb293","order":0,"width":0,"height":0,"options":[{"label":"YEAR","value":"b","type":"number","required":false,"rows":null},{"label":"ADULT MORALITY","value":"d","type":"number","required":false,"rows":null},{"label":"INFANT DEATHS","value":"e","type":"number","required":false,"rows":null},{"label":"ALCOHOL","value":"f","type":"number","required":false,"rows":null},{"label":"PERCENTAGE EXPENDITURE","value":"g","type":"number","required":false,"rows":null},{"label":"HEPATITIS B","value":"h","type":"number","required":false,"rows":null},{"label":"MEASLES","value":"i","type":"number","required":false,"rows":null},{"label":"BMI","value":"j","type":"number","required":false,"rows":null},{"label":"UNDER-FIVE DEATHS","value":"k","type":"number","required":false,"rows":null},{"label":"POLIO","value":"l","type":"number","required":false,"rows":null},{"label":"TOTAL EXPENDITURE","value":"m","type":"number","required":false,"rows":null},{"label":"DIPHTHERIA","value":"n","type":"number","required":false,"rows":null},{"label":"HIV/AIDS","value":"o","type":"number","required":false,"rows":null},{"label":"GDP","value":"p","type":"number","required":false,"rows":null},{"label":"POPULATION","value":"q","type":"number","required":false,"rows":null},{"label":"THINNESS 1-19 YEARS","value":"r","type":"number","required":false,"rows":null},{"label":"THINNESS 5-9 YEARS","value":"s","type":"number","required":false,"rows":null},{"label":"INCOME COMPOSITION OF RESOURCES","value":"t","type":"number","required":false,"rows":null},{"label":"SCHOOLING","value":"u","type":"number","required":false,"rows":null}],"formValue":{"b":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"PREDICT","cancel":"RESET","topic":"","x":90,"y":140,"wires":[["a44e6172.a61c"]]},{"id":"9a8532bd.5c0b9","type":"function","z":"f4a3a179.a47e88","name":"fun2","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["4018ddfb.c0f4a4","58857b52.a892c4"]]},{"id":"a44e6172.a61c","type":"function","z":"f4a3a179.a47e88","name":"Pre token","func":"\nglobal.set(\"b\",msg.payload.b);\n\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\nvar apikey=\"IH-unDZFrFqlMe0--DKaphHInINVfa7_jZp55CO029Ek\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":200,"wires":[["8454b03b.4ad4c8"]]},{"id":"e76b1b2d.958448","type":"function","z":"f4a3a179.a47e88","name":"fun1","func":"\nvar b=global.get(\"b\");\n\nvar d=global.get(\"d\");\nvar e=global.get(\"e\");\nvar f=global.get(\"f\");\nvar g=global.get(\"g\");\nvar h=global.get(\"h\");\nvar i=global.get(\"i\");\nvar j=global.get(\"j\");\nvar k=global.get(\"k\");\nvar l=global.get(\"l\");\nvar m=global.get(\"m\");\nvar n=global.get(\"n\");\nvar o=global.get(\"o\");\nvar p=global.get(\"p\");\nvar q=global.get(\"q\");\nvar r=global.get(\"r\");\nvar s=global.get(\"s\");\nvar t=global.get(\"t\");\nvar u=global.get(\"u\");\nvar token=msg.payload.access_token;\nvar instance_id='8baf7aee-c02d-444a-b44b-3b5d68a8f7ee'\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload = {\"fields\": [ \"Year\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[b,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["f8ca7773.56b988"]]},{"id":"f8ca7773.56b988","type":"http request","z":"f4a3a179.a47e88","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/8baf7aee-c02d-444a-b44b-3b5d68a8f7ee/deployments/8db24377-c540-473b-a9ce-e0dd5d92645d/online","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":200,"wires":[["9a8532bd.5c0b9","d30123d1.139ea"]]},{"id":"8454b03b.4ad4c8","type":"http request","z":"f4a3a179.a47e88","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":290,"y":200,"wires":[["e76b1b2d.958448"]]},{"id":"4018ddfb.c0f4a4","type":"debug","z":"f4a3a179.a47e88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":260,"wires":[]},{"id":"58857b52.a892c4","type":"ui_text","z":"f4a3a179.a47e88","group":"1f5424e5.5cb293","order":1,"width":0,"height":0,"name":"","label":"RESULT:","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":340,"wires":[]},{"id":"2423ea27.a1be66","type":"inject","z":"f4a3a179.a47e88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":260,"wires":[["a44e6172.a61c"]]},{"id":"d30123d1.139ea","type":"debug","z":"f4a3a179.a47e88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":120,"wires":[]},{"id":"1f5424e5.5cb293","type":"ui_group","z":"","name":"Life Expectancy","tab":"3aa5cf7e.33261","order":1,"disp":true,"width":"6","collapse":false},{"id":"3aa5cf7e.33261","type":"ui_tab","z":"","name":"predictions","icon":"dashboard","disabled":false,"hidden":false}]
