NodeRedDeeps.json
[{"id":"7b829f0a.c64db8","type":"tab","label":"LIFE EXPECTANCY","disabled":false,"info":""},{"id":"4fac72a0.0ca614","type":"ui_form","z":"7b829f0a.c64db8","name":"","label":"Life","group":"1f5424e5.5cb293","order":0,"width":0,"height":0,"options":[{"label":"COUNTRY","value":"a","type":"text","required":true,"rows":null},{"label":"YEAR","value":"b","type":"number","required":false,"rows":null},{"label":"STATUS","value":"c","type":"text","required":false,"rows":null},{"label":"ADULT MORALITY","value":"d","type":"number","required":false,"rows":null},{"label":"INFANT DEATHS","value":"e","type":"number","required":false,"rows":null},{"label":"ALCOHOL","value":"f","type":"number","required":false,"rows":null},{"label":"PERCENTAGE EXPENDITURE","value":"g","type":"number","required":false,"rows":null},{"label":"HEPATITIS B","value":"h","type":"number","required":false,"rows":null},{"label":"MEASLES","value":"i","type":"number","required":false,"rows":null},{"label":"BMI","value":"j","type":"number","required":false,"rows":null},{"label":"UNDER-FIVE DEATHS","value":"k","type":"number","required":false,"rows":null},{"label":"POLIO","value":"l","type":"number","required":false,"rows":null},{"label":"TOTAL EXPENDITURE","value":"m","type":"number","required":false,"rows":null},{"label":"DIPHTHERIA","value":"n","type":"number","required":false,"rows":null},{"label":"HIV/AIDS","value":"o","type":"number","required":false,"rows":null},{"label":"GDP","value":"p","type":"number","required":false,"rows":null},{"label":"POPULATION","value":"q","type":"number","required":false,"rows":null},{"label":"THINNESS 1-19 YEARS","value":"r","type":"number","required":false,"rows":null},{"label":"THINNESS 5-9 YEARS","value":"s","type":"number","required":false,"rows":null},{"label":"INCOME COMPOSITION OF RESOURCES","value":"t","type":"number","required":false,"rows":null},{"label":"SCHOOLING","value":"u","type":"number","required":false,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"SUBMIT","cancel":"CLEAR","topic":"","x":70,"y":220,"wires":[["2b80a45c.cf338c"]]},{"id":"ecb7b149.8e0fb","type":"function","z":"7b829f0a.c64db8","name":"fun2","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":360,"wires":[["f3d58427.853038","1833dc19.5c5bd4"]]},{"id":"2b80a45c.cf338c","type":"function","z":"7b829f0a.c64db8","name":"Pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\nvar apikey=\"IH-unDZFrFqlMe0--DKaphHInINVfa7_jZp55CO029Ek\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":280,"wires":[["45735c5e.ff0494"]]},{"id":"1818463e.6e694a","type":"function","z":"7b829f0a.c64db8","name":"fun1","func":"var a=global.get(\"a\");\nvar b=global.get(\"b\");\nvar c=global.get(\"c\");\nvar d=global.get(\"d\");\nvar e=global.get(\"e\");\nvar f=global.get(\"f\");\nvar g=global.get(\"g\");\nvar h=global.get(\"h\");\nvar i=global.get(\"i\");\nvar j=global.get(\"j\");\nvar k=global.get(\"k\");\nvar l=global.get(\"l\");\nvar m=global.get(\"m\");\nvar n=global.get(\"n\");\nvar o=global.get(\"o\");\nvar p=global.get(\"p\");\nvar q=global.get(\"q\");\nvar r=global.get(\"r\");\nvar s=global.get(\"s\");\nvar t=global.get(\"t\");\nvar u=global.get(\"u\");\nvar token=msg.payload.access_token;\nvar instance_id='8baf7aee-c02d-444a-b44b-3b5d68a8f7ee'\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload = {\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["7c43efb5.a97a78"]]},{"id":"7c43efb5.a97a78","type":"http request","z":"7b829f0a.c64db8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/46b1fa2c-1811-4751-9c5b-87f0f3620693/predictions","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":280,"wires":[["ecb7b149.8e0fb","dddc1933.28fd78"]]},{"id":"45735c5e.ff0494","type":"http request","z":"7b829f0a.c64db8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":270,"y":280,"wires":[["1818463e.6e694a"]]},{"id":"f3d58427.853038","type":"debug","z":"7b829f0a.c64db8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":340,"wires":[]},{"id":"dddc1933.28fd78","type":"debug","z":"7b829f0a.c64db8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":200,"wires":[]},{"id":"1833dc19.5c5bd4","type":"ui_text","z":"7b829f0a.c64db8","group":"1f5424e5.5cb293","order":1,"width":0,"height":0,"name":"","label":"Predictions:","format":"{{msg.payload}}","layout":"row-left","x":630,"y":420,"wires":[]},{"id":"45c1b810.1a0fd","type":"inject","z":"7b829f0a.c64db8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":340,"wires":[["2b80a45c.cf338c"]]},{"id":"1f5424e5.5cb293","type":"ui_group","z":"","name":"Life Expectancy","tab":"3aa5cf7e.33261","order":1,"disp":true,"width":"6","collapse":false},{"id":"3aa5cf7e.33261","type":"ui_tab","z":"","name":"predictions","icon":"dashboard","disabled":false,"hidden":false}]
